.modal__form > form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.modal__form > form >  .modal__input{
    margin-bottom: 15px;
    width: 100%;
}

.modal__form > form > .modal__button{
    margin-top: 20px;
}

.modal__form > .modal__title >  h2{
    font-family: 'Poppins', sans-serif;
}

.modal__form > .modal__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal__form > .modal__title > .modal__icon{
    font-size: 30px !important;
    cursor: pointer;
}

.modal__edit > form{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.modal__edit > form > .modal__editInput{
    margin-bottom: 20px;
}

.modal__edit > .modal__title{
    display: flex;
    justify-content: space-between;
} 

.modal__edit > .modal__title >  h2{
    font-family: 'Poppins', sans-serif;
}

.modal__edit > .modal__title > .modal__icon{
    font-size: 30px !important;
    cursor: pointer;
}

.modal__edit > form > .modal__button{
    margin-top: 20px;
}