@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.app__containerData{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 700px;
  padding: 30px;
  gap: 30px;
}

.app__data > img {
  width: 200px;
  box-shadow: 4px 2px 7px 7px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.app__data > h2{
  text-align: center;
  margin-bottom: 10px;
}

.app__button {
  padding: 20px;
}

.app__button > button{
  background-color: blue;
  color: white;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 4px;
}

.app__modal > h2{
  text-align: center;
  margin-bottom: 10px;
}

.app__modal > form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app__modal > form > input{
  margin-bottom: 20px;
}

.app__data {
  display: flex;
  flex-direction: column;
}

.app__data > button{
  margin-top: 10px;
  cursor: pointer;
}